.font{
    -webkit-text-stroke-width: 0.8px; /* largura da borda */
    -webkit-text-stroke-color: #ffee00; /* cor da borda */
    color: #000000;
    font-family: 'Orbitron', sans-serif; 
}

.fontAcertou{
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #00ff00; /* cor da borda */
    color: #000000;
    font-family: 'Orbitron', sans-serif; 
}

.fontErrou{
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #ff0000; /* cor da borda */
    color: #000000;
    font-family: 'Orbitron', sans-serif; 
}

.fontPreta{
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000000; /* cor da borda */
    color: #000000;
    font-family: 'Orbitron', sans-serif; 
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-image:url("../imgs/BackSpace.jpg");
}


.proxFase{
    margin-top: 140px;
    width: 500px; 
    padding:15px; 
    background-color: #ffffffb3; 
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
}
  

.linkbtn{
    text-decoration: none !important;
}