body{
    overflow-x: hidden;
    overflow-y: scroll !important;
    background-image:url("../imgs/BackSpace.jpg");
}

.linkbtn{
    text-decoration: none !important;
}

.font{
    -webkit-text-stroke-width: 0.8px; /* largura da borda */
    -webkit-text-stroke-color: #ffee00; /* cor da borda */
    color: #000000;
    font-family: 'Orbitron', sans-serif; 
}

.ranking{
    margin-top: 60px;
    width: 500px; 
    padding:15px; 
    background-color: #ffffffb3; 
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
}

.botoes{
    width: 450px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 18px;
}

